
<div class="modal-header">
    <div class="modalClose ng-scope" ng-click="close()">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
    <div class="title">{{ modalTitle }}</div>
</div>

<div class="modal-body">
    <div class="ng-hide" ng-show="loginLayout">
        <form method="POST"
              accept-charset="UTF-8"
              enctype="multipart/form-data"
              name="loginForm"
              novalidate="novalidate"
              class="rg-form"
              ng-submit="auth($event, 'login')">

            <div class="form-group">
                <label for="email">Email: </label>
                <input  type="email"
                        class="form-control"
                        ng-model="userLoginData.email"
                        name="email"
                        id="email"
                        required
                        ng-minlength="5"
                        ng-maxlength="255">
                <div class="validation-messages" ng-messages="loginForm.email.$error" role="alert">
                    <div ng-message="required">Required field</div>
                    <div ng-message="minlength">Must be at least 5 symbols long</div>
                    <div ng-message="maxlength">Can't be more than 255 symbols</div>
                    <div ng-message="email">Invalid email address</div>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                    <input type="password"
                              class="form-control"
                              ng-model="userLoginData.password"
                              required="required"
                              ng-minlength="6"
                              name="password"
                              id="password">
                    </input>
                <div class="validation-messages" ng-messages="loginForm.password.$error" role="alert">
                    <div ng-message="required">Required field</div>
                    <div ng-message="minlength">Must be at least 6 symbols long</div>
                </div>
            </div>

            <div class="col-md-12 height-divider"></div>

            <div class="form-group col-md-6">
                <div class="col-md-8 col-md-offset-4">
                <input class="btn btn-primary form-control"
                       ng-disabled="loginForm.$invalid || disable"
                       type="submit"
                       value="{{ modalTitle }}">
                </div>
            </div>

            <div class="form-group col-md-6">
                <div class="col-md-8">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember" ng-model="userLoginData.remember"> Remember Me
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-4 col-md-offset-4">
                    <a class="usual-link" href="/password/reset">
                        Forgot Your Password?
                    </a>
                </div>
            </div>

        </form>
    </div>

    <div class="ng-hide" ng-show="signupLayout">
        <form method="POST"
              accept-charset="UTF-8"
              enctype="multipart/form-data"
              name="signupForm"
              novalidate="novalidate"
              class="rg-form"
              ng-submit="auth($event, 'register')">

            <div class="form-group">
                <label for="name">Name: </label>
                <input  type="text"
                        class="form-control"
                        ng-model="userRegData.name"
                        name="name"
                        id="name"
                        required
                        ng-minlength="3"
                        ng-maxlength="255">
                <div class="validation-messages" ng-messages="signupForm.name.$error" role="alert">
                    <div ng-message="required">Required field</div>
                    <div ng-message="minlength">Must be at least 3 symbols long</div>
                    <div ng-message="maxlength">Can't be more than 255 symbols</div>
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email: </label>
                <input  type="email"
                        class="form-control"
                        ng-model="userRegData.email"
                        name="email"
                        id="email"
                        required
                        ng-minlength="5"
                        ng-maxlength="255">
                <div class="validation-messages" ng-messages="signupForm.email.$error" role="alert">
                    <div ng-message="required">Required field</div>
                    <div ng-message="minlength">Must be at least 5 symbols long</div>
                    <div ng-message="maxlength">Can't be more than 255 symbols</div>
                    <div ng-message="email">Invalid email address</div>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password"
                       class="form-control"
                       ng-model="userRegData.password"
                       required="required"
                       ng-minlength="6"
                       name="password"
                       id="password">
                </input>
                <div class="validation-messages" ng-messages="signupForm.password.$error" role="alert">
                    <div ng-message="required">Required field</div>
                    <div ng-message="minlength">Must be at least 6 symbols long</div>
                </div>
            </div>

            <div class="form-group">
                <label for="password_confirmation">Password confirmation:</label>
                <input type="password"
                       class="form-control"
                       ng-model="userRegData.password_confirmation"
                       password-confirmation="userRegData.password"
                       required="required"
                       name="password_confirmation"
                       id="password_confirmation">
                </input>
                <div class="validation-messages" ng-messages="signupForm.password_confirmation.$error" role="alert">
                    <div ng-message="required">Required field</div>
                    <div ng-message="passwordConfirmation">The password confirmation does not match</div>
                </div>
            </div>

            <div class="col-md-12 height-divider"></div>

            <div class="form-group col-md-12">
                <div class="col-md-4 col-md-offset-4">
                    <input class="btn btn-primary form-control"
                           ng-disabled="signupForm.$invalid || disable"
                           type="submit"
                           value="{{ modalTitle }}">
                </div>
            </div>
        </form>
    </div>

    <div class="ng-hide" ng-show="resetLayout">

    </div>

    <div class="clearfix"></div>
</div>

<div class="modal-footer">
    <div class="auth-buttons">
        <a href="#" class="usual-link" ng-class="{'active': loginLayout}" ng-click="switchLayout($event, 'login')">Log in</a>
        <span>|</span>
        <a href="#" class="usual-link" ng-class="{'active': signupLayout}" ng-click="switchLayout($event, 'signup')">Sign up</a>
    </div>
</div>
