<div ng-class="{'withoutArticles': loading || noResults}" class="articles-block">
	<div ng-show="loading" class="load-block">
		<div class="load-gif"></div>
	</div>

	<article class="main-view">
		<div class="title">
			{{ article.title }}
		</div>

		<div class="information-block description-block">

			<div class="article-date">
				<span class="sub-text">Published at: </span>
				{{ article.published_at }}
			</div>

			<div class="author information-text">
				<span class="sub-text">By: </span>
				<a href="#/author/{{ article.user_id }}">
					{{ article.userName }}
				</a>
			</div>

			<div class="tags-block">
				<span class="sub-text">Tags:</span>
				<a ng-repeat="tag in article.tags" class="tag" href="#/tag/{{ tag.id }}">
					{{ tag.name }}
				</a>
			</div>
			

		</div>

		<div ng-if="creator">
			<div class="buttons-block">
				<div class="article-button">
					<a href="#" ng-click="articleFormModal($event, 'update', 0, 1)" class="rg-link edit-the-article blog-button rg-transition">Edit</a>
				</div>
				<div class="article-button">
					<div ng-click="deleteModal(article.id, article.user_id, 'article')" class="rg-link del-the-article blog-button rg-transition">Delete</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	
		<div class="article-image">
			<img class="img-responsive" src="/public/media/blog/{{ photoPath }}/{{ article.images }}"/>
		</div>

		<div class="article-body">
			<pre>
				{{ article.body }}
			</pre>
		</div>
	
	</article>

	<div class="comments-container col-md-8 col-md-offset-2">

        <div ng-show="commentsLoading" class="load-block">
            <div class="load-gif"></div>
        </div>

		<div class="comment-block col-md-12" ng-repeat="comment in comments">

			<div class="user-data col-md-3">
				<div class="user-name">{{ comment.user.name }}</div>
				<div class="date">{{ comment.published_at }}</div>
			</div>

            <div class="comment-body col-md-9" ng-if="comment.user.id !== article.currentUser.id">
                <div class="text col-md-10">
                    {{ comment.body }}
                </div>
            </div>

            <div ng-if="comment.user.id === article.currentUser.id">
                <div class="comment-body col-md-9">
                    <form editable-form name="editCommentForm">
                        <div editable-textarea="comment.body"
                             onbeforesave="editComment($data, comment.id, comment.user_id)"
                             e-name="body"
                             e-form="editCommentForm"
                             e-required
                             class="text col-md-10">
                            {{ comment.body }}
                        </div>

                        <div class="edit-form-buttons" ng-show="editCommentForm.$visible">
                            <button type="submit" class="rg-transition save-button" ng-disabled="editCommentForm.$waiting">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button type="button" class="rg-transition cancel-button" ng-disabled="editableForm.$waiting" ng-click="editCommentForm.$cancel()">
                                <span class="glyphicon glyphicon-off"></span>
                            </button>
                          </div>

                    </form>

                    <div ng-hide="editCommentForm.$visible" class="buttons-block comment-buttons  col-md-2">
                        <div ng-click="editCommentForm.$show()"
                             class="button edit-button rg-transition">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </div>
                        <div ng-click="deleteTheComment(comment.id)"
                             class="button delete-button rg-transition">
                            <span class="glyphicon glyphicon-remove"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


		<div class="clearfix"></div>

		<div class="left-comment-container" ng-if="article.currentUser !== null">
			<div class="title">Write a comment</div>

            <form method="POST"
                  accept-charset="UTF-8"
                  name="commentForm"
                  ng-controller="commentController"
                  novalidate="novalidate"
                  class="rg-form"
                  ng-submit="saveComment($event, article.currentUser.id, article.id)">

                <div class="form-group">
                    <label for="body">Body:</label>
                    <textarea class="form-control"
                              ng-model="comment.body"
                              required="required"
                              ng-maxlength="400"
                              ng-minlength="20"
                              name="body"
                              id="body">
                    </textarea>
                    <div class="validation-messages" ng-messages="commentForm.body.$error" role="alert">
                        <div ng-message="required">Required field</div>
                        <div ng-message="minlength">Must be at least 20 symbols long</div>
                        <div ng-message="maxlength">Can't be more than 400 symbols</div>
                    </div>
                </div>

                <div class="form-group">
                    <input class="btn btn-primary form-control"
                           ng-disabled="commentForm.$invalid || disable"
                           type="submit"
                           value="Submit">
                </div>

			</form>
		</div>

		<div class="alert alert-danger ng-hide" ng-show="article.currentUser === null">
			Log in or register before write a comment
		</div>

	</div>

   </div>
		