

	<div ng-class="{'withoutArticles': loading || noResults}" class="articles-block">
		<div ng-show="loading" class="load-block">
			<div class="load-gif"></div>
		</div>
		
		<h2>{{ pageTitle }}</h2>
		<h3>{{ subTitle }}</h3>
		<div class="alert alert-danger ng-hide" ng-show="noResults">No results</div>

		<div class="pagination-block ng-hide" ng-show="!loading && !noResults && manyResults">
			<uib-pagination
							total-items="pagination.totalItems"
							items-per-page="pagination.itemsPerPage" 
							ng-model="pagination.currentPage"
							ng-change="loadPage()"
							class="pagination-sm" 
							previous-text="&lsaquo;" 
							next-text="&rsaquo;"
							ng-if="pagination.display"
							>
			</uib-pagination>
			<div class="order-buttons">
				<button class="btn btn-default"
						ng-class="{'btn-primary': filters.order === 'desc'}" 
						ng-disabled="filters.order === 'desc'" 
						ng-click="switchOrder()">
						Latest
				</button>
				<button class="btn btn-default" 
						ng-class="{'btn-primary': filters.order === 'asc'}"
						ng-disabled="filters.order === 'asc'" 
						ng-click="switchOrder()">
						Oldest
				</button>
			</div>
		</div>

		<div class="crearfix"></div>
		
			<article ng-repeat="article in articles.data" class="article col-md-12">
				<div class="col-md-6 article-image">
					<a class="rg-transition" href="#/article/{{ article.id }}">
						<img class="img-responsive" src="/public/media/blog/{{ photoPath }}/{{ article.images }}"/>
					</a>
				</div>
				<div class="col-md-6">
					<a href="#/article/{{ article.id }}">
						<div class="rg-transition article-title">{{ article.title }}</div>
					</a>
					<div class="description-block">
						<div class="article-date information-text">
							<span class="sub-text">Published at: </span>{{ article.published_at }}
						</div>
						<div class="author information-text">
							<span class="sub-text">By: </span>
							<a href="#/author/{{ article.user_id }}">{{ article.userName }}</a>
						</div>
						<div class="tags-block">
							<span class="sub-text">Tags:</span>	
							<a ng-repeat="tag in article.tags" class="tag" href="#/tag/{{ tag.id }}">
								{{ tag.name }}
							</a>
						</div>
					</div>
					<div class="article-body"><pre>{{ article.body | limitTo: '400' }}...</pre></div>
					<div class="article-button">
						<a href="#/article/{{ article.id }}" class="rg-link read-more blog-button rg-transition">Keep reading</a>
					</div>
					
					<div ng-if="articles.currentUser !== null && articles.currentUser.id === article.user_id">
							<div class="article-button">
								<a href="#" ng-click="articleFormModal($event, 'update', $index)" class="rg-link edit-the-article blog-button rg-transition">Edit</a>
							</div>
							<div class="article-button">
								<div ng-click="deleteModal(article.id, article.user_id)" class="rg-link del-the-article blog-button rg-transition">Delete</div>
							</div>
					</div>
					
				</div>
				<div class="clear"></div>
				<hr>
			</article>

		<div class="pagination-block ng-hide" ng-show="!loading && !noResults">
			<uib-pagination
							total-items="pagination.totalItems"
							items-per-page="pagination.itemsPerPage" 
							ng-model="pagination.currentPage"
							ng-change="loadPage()"
							class="pagination-sm" 
							previous-text="&lsaquo;" 
							next-text="&rsaquo;"
							ng-if="pagination.display"
							>
			</uib-pagination>
			<div class="order-buttons">
				<button class="btn btn-default"
						ng-class="{'btn-primary': filters.order === 'desc'}" 
						ng-disabled="filters.order === 'desc'" 
						ng-click="switchOrder()">
						Latest
				</button>
				<button class="btn btn-default" 
						ng-class="{'btn-primary': filters.order === 'asc'}"
						ng-disabled="filters.order === 'asc'" 
						ng-click="switchOrder()">
						Oldest
				</button>
			</div>
		</div>
		
	</div>

