
<div class="modal-header">
	<div class="modalClose ng-scope" ng-click="close()">
		<span class="glyphicon glyphicon-remove"></span>
	</div>
	<div class="title">Create a new article.</div>
</div>

<div class="modal-body">
	<form method="POST" accept-charset="UTF-8" enctype="multipart/form-data" name="createForm" novalidate="novalidate" class="rg-form" ng-submit="createArticle($event)">
	
			<div class="form-group">
				<label for="title">Title: </label>
				<input
					class="form-control"
					ng-model="data.title" 
					name="title"
					id="title"
					required
					ng-minlength="3"
					ng-maxlength="250">
				<div class="validation-messages" ng-messages="createForm.title.$error" role="alert">
				    <div ng-message="required">Required field</div>
				    <div ng-message="minlength">Must be at least 3 simbols long</div>
				    <div ng-message="maxlength">Can't be more than 250 simbols</div>
				</div>
			</div>
			
			<div class="form-group">
				<label for="photo">Image:</label>
				<input class="" 
						ng-model="photo" 
						required="required" 
						valid-file="valid-file" 
						name="photo" 
						type="file" 
						id="photo"
						file-model="images">
				<div class="validation-messages" ng-messages="createForm.photo.$error" role="alert">
				    <div ng-message="required">Required field</div>
				</div>
			</div>
	
			<div class="form-group">
				<label for="body">Body:</label>
				<textarea class="form-control"
						  ng-model="data.body" 
						  required="required" 
						  ng-minlength="400" 
						  name="body" 
						  cols="50" 
						  rows="10" 
						  id="body">
				</textarea>
				<div class="validation-messages" ng-messages="createForm.body.$error" role="alert">
				    <div ng-message="required">Required field</div>
				    <div ng-message="minlength">Must be at least 400 simbols long</div>
				</div>
			</div>
	
			<div class="form-group">
				<label for="tags">Tags:</label>
				<select class="form-control select2" 
						multiple="multiple" 
						name="tags"
						id="tags"
						ng-model="data.tags"
						ng-options="tag.id as tag.name for tag in allTags"
						required
						ui-select2>
				</select>
				<div class="validation-messages" ng-messages="createForm.tags.$error" role="alert">
				    <div ng-message="required">Required field</div>
				</div>
			</div>
	
			<div class="form-group">
				<input class="btn btn-primary form-control" ng-disabled="createForm.$invalid || disable" type="submit" value="Create an article">
			</div>
	</form>
</div>
