<div class="modal-header">
	<div class="modalClose ng-scope" ng-click="close()">
		<span class="glyphicon glyphicon-remove"></span>
	</div>
	<div class="title">Delete the article.</div>
</div>

<div class="modal-body">
	<div class="text">Do you realy want to delete this article?</div>
</div>

<div class="modal-footer">

	<div class="modal-button">
		<div ng-click="close()" class="rg-link read-more blog-button rg-transition">Cancel</div>
	</div>

	<div class="modal-button">
		<div ng-click="deleteArticle(article.id, article.user_id, article.place)"
			 class="rg-link del-the-article blog-button rg-transition">
			 Delete
		</div>
	</div>

</div>