
    /*bootstrap redefined classes*/
    .list-group-item {
        position: relative;
        display: block;
        padding: 7px 15px;
        margin-bottom: -1px;
        text-align: right;
        background: 0;
        border:0;
        }

        .navbar-default .navbar-nav>li>a:focus{
            color: white;
            }

        a{
                transition: all 200ms;
                text-decoration: none;
                display:inline-block;  
                color:black;              
            }

            a:link{
                text-decoration: none;
                color:black;
            }


            a:active{
                text-decoration: none;
                color:black;
            }

            a:visited{
                text-decoration: none;
                color:black;
            }

@media (min-width: 992px){
    .modal-lg {
    width:100%;
    max-width: 1130px;
    border-radius: 0;
    }
}

.pagination {
float: none;
display: block;
width: auto;
}

.pagination-block{
margin: auto;
}

.pagination{
    margin: 10px 0;
margin-right: 20px;
}

.order-buttons{
    margin: 8px 0;
float: left;
}

.h1, .h2, .h3, h1, h2, h3 {
margin-top: 10px;
margin-bottom: 10px;
}

    /*/////////////////////////////*/
            html, body {
                height: 100%;
            }

            body {
                position:relative;
                margin: 0;
                padding: 0;
                width: 100%;
                font-weight: 100;
                font-family: 'Lato';
            }

            .content-wrapper{
                height: 100%;
            }

            .main-page-content {
                text-align: center;
                display: block;
                padding-top:10%;
            }
            
            .main-page-title {
                font-size: 146px;
                
            }

            .main-page-text{
                font-size: 46px;
            }

            .rglink{
                text-shadow: 0px 0px 0px rgba(132, 178, 255, 0.71);
                transition: all 200ms;
                text-decoration: none;
                color:white;
                display:inline-block;                
            }

            .rglink:link{
                text-decoration: none;
                color:white;   
            }


            .rglink:active{
                text-decoration: none;
                color:white;   
            }

            .rglink:visited{
                text-decoration: none;
                color:white;
            }

            .main-menu-link{
                font-size: 30px;
            }

            .rglink:hover{
                text-decoration: none;
                color: rgb(68, 211, 184);
                text-shadow: 0px 1px 5px rgba(132, 178, 255, 1);
            }
            .menu-container ul{
                list-style: none;
            }

            .menu-title{
                color: white;
                font-size: 40px;
                padding: 15px 0px;
                text-align: center;
            }

            .main-page-link{

                text-shadow: 0px 0px 0px rgba(132, 178, 255, 0.71);
                transition: all 350ms;
                text-decoration: none;
                color:black;
                display:inline-block;
                max-width: 600px;
                min-width:375px;
            }

            .main-page-link:active{
                text-decoration: none;
                color:black;   
            }

            .main-page-link:visited{
                text-decoration: none;
                color:black;
            }
            .main-page-link:link{
                text-decoration: none;
                color:black;   
            }

            .main-page-link:hover{
                text-decoration: none;
                color:black;
                text-shadow: 0px 5px 30px rgba(132, 178, 255, 1);
            }


            .main-page-footer{
                font-size: 16px;
                font-weight: 600;
                display:block;
                height: 40px;
                text-align: center;
            }
            
            .content{
                position:relative;
                height: 90%
            }

            .main-menu-overlay {
              z-index: 99; 
              position: fixed; 
              background-color: #000; 
              opacity: 0.35; 
              width: 100%; 
              height: 100%; 
              top: 0; 
              left: 0;
            }

             .modal-menu { 
                  z-index: 100;
                    padding: 20px 30px;
                    padding-top: 40px;
                }

                .menu-button{
                    position: absolute;
                    font-size: 24px;
                    left: 2%;
                    top: 4%;
                    z-index: 101;
                    cursor: pointer;
                }

                .menu-container{
                    height: 260px;
                    border-radius: 1px;
                    background: #091724;
                    opacity: 0.95;
                }

                .menu-wrapper{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }

                .menu-inner-button{
                   float: left;
                    font-size: 24px;
                    z-index: 101;
                    cursor: pointer;
                    position: relative;
                    top: -15px;
                }

                .additional-menu-container li{
                    text-align: center;
                }

                .additional-menu-container ul{
                    padding-top: 65px;
                }

                .additional-main-menu-link{
                    font-size: 33px;
                }

                .tech-list-item{
                    padding:7px 7px;
                    color:white;
                }

                .menu-tech-title{
                    font-size: 30px;
                    color:white;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }

                @media (max-width: 992px){
                    .list-group-item {
                        text-align: center;
                    }

                    .menu-container{
                        height: auto;
                    }

                    .additional-menu-container ul{
                        padding-top: 0px;
                    }

                    .main-page-content{
                        position:fixed;
                    }

                    .menu-inner-button {
                        position: absolute;
                        top: 15px;
                        left: 90%;
                        font-size: 24px;
                        z-index: 101;
                        cursor: pointer;
                        transform: rotate(90deg);
                        color: rgb(128, 228, 252);
                    }

                    .modal-menu {
                        z-index: 100;
                        padding: 0px 45px;
                        padding-top: 20px;
                    }

                    .sm-padding{
                        padding-top: 0px;
                    }

                    .menu-button {
                        position: absolute;
                        font-size: 24px;
                        left: 1%;
                        top: 3%;
                        z-index: 101;
                        cursor: pointer;
                    }
                }
                

                .modal-menu.ng-hide-remove {
                  transform:rotateY(-90deg);
                }

                .modal-menu.ng-hide-remove.ng-hide-remove-active {
                  transform:rotateY(0deg);
                }

                .modal-menu.ng-hide-add {
                  transform:rotateY(0deg);
                }

                .modal-menu.ng-hide-add.ng-hide-add-active {
                  transform:rotateY(-90deg);
                }

                .modal-menu-overlay.ng-hide-remove {
                  opacity:0;
                }

                .modal-menu-overlay.ng-hide-remove.ng-hide-remove-active {
                  opacity:0.3;
                }

                .modal-menu-overlay.ng-hide-add {
                  opacity:0.3;
                }

                .modal-menu-overlay.ng-hide-add.ng-hide-add-active {
                  opacity:0;
                }

                .rg-transition{
                    transition: all ease 400ms;
                }

                .menu-button-active{
                    transform: rotateZ(90deg);
                    color: rgb(115, 250, 255);
                }


                .content-wrapper-modif{
                    font-family: sans-serif;
                }

                .clear{
                    clear:both;
                }

                .flash-message{
                    cursor:pointer;
                }

.select2-container{
    font-family: sans-serif;
}

.rg-color{
    color:rgb(115, 250, 255);
}

.rg-modal-wrapper{
position: fixed;
z-index: 100;
bottom: 0; left: 0; top: 0; right: 0;
overflow: auto;
-webkit-overflow-scrolling: touch;
background: rgba(0,0,0,0.3);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000); /* IE6–IE8 */
zoom: 1;
overflow: hidden;
}

.rg-modal-wrapper > * {
    -webkit-transform: translateZ(0px);
}

.rg-modal{
margin: auto;
margin-top: 15%;
width: 400px;
height: auto;
padding: 0;
background: white;
border-radius: 2px;
min-width: 300px;
z-index: 20
}

.rg-overlay{
    position: fixed;
z-index: -1;
cursor: pointer;
bottom: 0;
left: 0;
right: 0;
top: 0;
}

.rg-modal-close{
    cursor:pointer;
    float: right;
    position: relative;
    top: -12px;
    left: 10px;
}

.rg-form{
    padding: 15px;
}

.rg-form .form-group{
    position:relative;
}

.rg-form .form-group .required{
    position: absolute;
left: 60px;
color: rgb(234, 46, 60);
}

.rg-form .form-group .required.info{
    color: rgb(51, 46, 234)
}

.rg-form .form-group input.ng-invalid.ng-dirty, .rg-form .form-group textarea.ng-invalid.ng-dirty{
    border-color: rgb(234, 46, 60);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(215, 94, 94, 0.6);
}

.rg-form .form-group input.ng-valid, .rg-form .form-group textarea.ng-valid{
border-color: rgb(46, 234, 48);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(115, 189, 106, 0.6);
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
cursor: not-allowed;
filter: alpha(opacity=100);
-webkit-box-shadow: none;
box-shadow: none;
opacity: 1;
border:0;
}

.overflowOff{
    overflow: hidden !important;
}


@media (min-width: 1720px){
    .menu-wrapper {
        position: absolute;
        height: 87%;
        width: 100%;
        margin-top: 112px;
    }

    .menu-button {
        position: absolute;
        font-size: 24px;
        left: 2%;
        top: -10%;
        z-index: 101;
        cursor: pointer;
        }
}

.ng-cloak, .x-ng-cloak {
  display: none !important;
}

.req-span{
    color:red;
}

.validation-messages{
    margin-left: 0;
    color: rgb(255, 21, 12);
    font-size: 13px;
}

.modalClose{
    display: block;
float: right;
margin: 5px;
cursor: pointer;
}

.modal-header .title{
    font-size: 22px;
}

.modal-button{
    float: right;
margin-left: 20px;
margin-top: 20px;
}

pre{
    font-family: times-new-roman;
    display: block;
padding: 0;
margin: 0;
font-size: 15px;
line-height: 1.42857143;
color: black;
background-color: transparent;
border: 0;
border-radius: 0;
word-wrap: initial;
white-space: pre-wrap;
  word-break: normal;
}

.alert {
padding: 10px;
margin-bottom: 3px;
border: 1px solid transparent;
border-radius: 0px;
}

.load-block{
    position: absolute;
z-index: 100;
bottom: 0; left: 0; top: 0; right: 0;
overflow: auto;
-webkit-overflow-scrolling: touch;
background: rgba(0,0,0,0.1);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000); /* IE6–IE8 */
zoom: 1;
overflow: hidden;
}

.load-gif{
    position: fixed;
width: 40px;
height: 40px;
margin: 0 auto;
background: url(/public/media/blog/resources/spinner.gif) no-repeat;
margin-top: 20%;
background-size: 100%;
left: -20px;
margin-left: 50%;
}

.height-divider{
    height: 10px;
}

.usual-link{
    color: #00759E !important;
}

    .usual-link:hover{
        text-decoration:underline;
    }

    .auth-buttons .active{
        color: #7a43b6 !important;
        cursor: default;
    }

    .auth-buttons .active:hover{
        text-decoration: none;
    }

    .notification{
        cursor:pointer
    }

    .form-group {
        margin-bottom: 20px;
    }

    .link-container{
        display:block;
        margin-top: 80px;
    }

    .link-container .menu-title{
        color: white;
        font-size: 40px;
        padding: 15px;
        text-align: center;
        display: block;
        float: none;
        margin: auto;
    }

    .link-container .menu-title:hover{
        color: rgb(68, 211, 184) !important;
        text-shadow: 0px 1px 5px rgba(132, 178, 255, 1) !important;
    }

    .about-wrapper .photo-block {
        background: url(/public/media/-XFlf69xDWs.jpg) no-repeat 50% 0%;
        width: 90%;
        height: 300px;
        margin: 10px;
    }

    .about-wrapper .contacts{
        width: 232px;
        margin: auto;
    }

    .about-wrapper .mail{
        display: inline-block;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        padding-bottom:3px;
        margin-top: 100%;
    }

    .about-wrapper .mail:hover{
        border-bottom: 1px solid;
    }