body {
    position:relative;
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 100;
    font-family: 'Times New Roman';
}



.navbar-default {
    background-color: black;
    border-radius: 0;
    padding: 0;
    border: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #37A3FF;
    font-weight: bold;
    background-color: black;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 16px;
    line-height: 25px;
    border:0 !important;
    box-shadow: 0 0 0 0 !important;
    outline: none !important;
}


.navbar-default .navbar-nav>li>a:active {
    color: white;
    border:0;
    box-shadow: 0 0 0 0;
}

.navbar-default .navbar-nav>li>a:visited {
    color: white;
    border:0;
    box-shadow: 0 0 0 0;
}

.navbar-default .navbar-nav>li>a:hover {
    color: black;
    background-color: white;
    border:0;
    box-shadow: 0 0 0 0;
}
.navbar-default .navbar-brand {
    color: white;
    line-height: 25px;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-brand:active {
    color: white;
}

.navbar-default .navbar-brand:visited {
    color: white;
}

.article-image img{
    max-height:400px;
    margin: auto;
}
.description-block a{
    color: #00759E;
}

.description-block a:hover{
    text-decoration: underline;
}

.article-image a{
    display:block;
}

.article-image a:hover{
    opacity: 0.9;
}

.article .sub-text{
    font-weight: 600;
}

.article .information-text{
    font-size: 14px;
}

.article .article-body{
    padding:15px 0;
    font-size: 15px;
}

.blog-button{
    width: 150px;
    height: 32px;
    display: block;
    background: #02adea;
    border-radius: 2px;
    text-align: center;
    font-size: 14px;
    line-height: 31px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    border: 1px solid #02a3de;
    cursor:pointer;
}

.blog-button:hover{
    text-decoration: none;
    background: #0099CF;
    border: 1px solid #0085B6;
    color:white;
}

.edit-the-article{
    background: #00E58E;
    border: 1px solid #00CB67;
}

.edit-the-article:hover{
    background: #00C57A;
    border: 1px solid #00A152;
}

.del-the-article{
    border: 1px solid #AD5B5E;
    background: #EF6161;
}

.del-the-article:hover{
    background: #F74545;
    border: 1px solid #D3363B;
}

.article-button{
    float:left;
    margin-right: 20px;
    margin-top: 20px;
}


article{
    display:block;
    padding:30px;
}

.article-title{
    font-size: 36px;
    display: inline-block;
    line-height: 40px;
    margin-bottom: 5px;
    color: #00759E;
}


.article-title:hover{
    color: #00A4DD;
}

.article-text{
    font-size: 16px;
    padding:5px;
}

.article-img{
    float: left;
    width:100px;
    height: 100px;
    text-align: center;
    line-height: 50px;
}

.article-date{

}

.relative-block{
    position:relative;
}

.search-block input{
    margin: 5px 0 0;
    display: block;
    padding: 0 10px;
    width: 190px;
    height: 30px;
    background-color: transparent;
    box-shadow: 0 0;
    border-radius: 3px;
    font-size: 13px;
    line-height: 30px;
    color: #FFF;
    border: 1px solid rgba(255,255,255,1);
    opacity: 0.9;
}

.search-block button{
    position: absolute;
    height: 28px;
    background: none !important;
    border: 0 !important;
    width: 30px;
    border-radius: 2px;
    left: 158px;
    top: 6px;
    color: rgb(211, 205, 205);
    padding: 0;
    line-height: 31px;
    outline: none !important;
}

.search-block button span{
    text-align: center;

}

.search-block button:focus{
    color: rgb(211, 205, 205);
    background: none;
    border:0;
}

.search-block button:hover{
    color:rgb(115, 250, 255);
    background: none;
    border:0;
}

.search-block button:active{
    color:rgb(115, 250, 255);
    background: none;
    border:0;
}

.search-block button:visited{
    color:rgb(115, 250, 255);
    background: none;
    border:0;
}

.content{
    height: auto;
}

footer{
    display: block;
    background-color: #f5f6f7;
    width: 100%;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 30px;
    color: rgb(60, 60, 60);
    margin-top: 50px;
}

.pagination{
    float:left;
}

article.main-view .article-image img{
    max-height: 600px;
    padding:15px;
}

article.main-view .title{
    font-size: 40px;
}

article.main-view .information-block{
    text-align: right;
    padding-right: 3%;
}

article.main-view .article-body{
    padding: 15px 125px;
}

article.main-view .buttons-block{
    float: left;
    width: 100%;
}

.rg-form textarea{
    min-height: 350px;
}


.edit-article-modal.rg-modal{
    margin-top: 3%;
    width: 90%;
}

.edit-article-modal form{
    padding:15px;
}

.edit-article-modal .select2-container{
    width:94% !important;
}

.edit-article-modal .rg-modal-close {
    top: 2px;
    left: -3px;
}

.left-comment-container .rg-form textarea{
    min-height: 35px;
    height: 100px;
}

.withoutArticles{
    height: 1000px;
}



a.tag{
    margin-right: 5px;
}

.comment-block{
    min-height: 50px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}

.comment-buttons .button{
    width: 20px;
    height: 20px;
    margin: 0 auto;
    cursor:pointer;
}

.comment-buttons .edit-button{
    color: rgba(0, 128, 0, 0.53);
}

.comment-buttons .edit-button:hover{
    color: rgba(1, 255, 0, 0.53);
}

.comment-buttons .delete-button{
    margin-top:5px;
    color: rgba(255, 17, 5, 0.65);
}

.comment-buttons .delete-button:hover{
    color: #ff211e;
}

.comment-body{
    padding-bottom: 10px;
    position:relative;
}

.comment-body textarea{
    resize: none;
    overflow: hidden;
    width: 85%;
    height: 95%;
    position: absolute;
    top: 0;
    left: 0;
}

.comments-container .load-gif {
    position: absolute;
    margin-left: 50%;
}

.edit-form-buttons{
    float: right;
    width:11%;
}

.edit-form-buttons button{
    display:block;
    width:20px;
    height: 20px;
    border:0;
    outline:none;
    cursor:pointer;
    background: transparent;
}

.edit-form-buttons button.save-button{
    color: darkorchid;
}

.edit-form-buttons button.save-button:hover{
    color: #cc1ea0;
}

.edit-form-buttons button.cancel-button{
    margin-top:5px;
    color: #ff5953;

}

.edit-form-buttons button.cancel-button:hover{
    color: #ff3c38;
}

.left-comment-container{
    margin-top:15px;
}

.left-comment-container .title{
    font-size: 22px;
}