.navbar-default {
    background-color: rgba(248, 248, 248, 0.17);
    border-color: #777777;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin:0;
}

.body{
    overflow-x: hidden;
}

.content {
    position: relative;
    height: 90%;
    padding: 0;
}

.navbar-default .navbar-brand {
    color: #000 !important;
    font-size: 20px;
    text-shadow: 1px 1px 0px rgb(255, 255, 255);
}

.navbar-default .navbar-nav>li>a {
    color: #000 !important;
    font-size: 17px;
    text-shadow: 1px 1px 0px rgb(255, 255, 255);
}

.navbar-default .navbar-nav>li>a:hover{
    background: rgb(228, 245, 255);
}

.return-to-main-page span{
    color:black;
    text-shadow: 1px 1px 0px rgb(255, 255, 255);
}

.return-to-main-page:hover{
    background-color: rgba(186, 186, 186, 0.66);
}

.return-to-main-page:hover span{
    color:rgb(115, 250, 255);
}

.video-banner video{
    min-width: 100%;
    top: 0;
    bottom: 0;
    min-height: 100%;
    position: absolute;
}

.video-banner{
    overflow: hidden;
    position:relative;
    margin-bottom: 20px;
}

.video-banner .scroll-down-block {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 37px;
}

.video-banner .scroll-down-block .left{
    border-bottom: 1px solid white;
    float: left;
    width: 40%;
    margin-left: 9%;
    padding-top: 7px;
}

.video-banner .scroll-down-block .triangle{
    width: 0;
    float: left;
    border-top: 20px solid white;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.video-banner .scroll-down-block .right{
    width: 40%;
    float: left;
    border-bottom: 1px solid white;
    padding-top: 7px;
}

.video-text-block {
    position: absolute;
    top: 105px;
    left: 7%;
    font-size: 20px;
    color: white;
    padding: 15px;
    text-shadow: 0px 1px 2px black;
    border: 1px solid;
    border-radius: 1px;
}



.video-text-block textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    padding: 10px;
    left: 0;
    resize: none;
    color: black;
    border: none;
    background: white;
}

.video-text-block .edit-form-buttons{
    position: relative;
    background: transparent;
    top: 50px;
    float: right;
}

.edit-form-buttons button{
    background: transparent;
    border: 0;
    outline: none;
}

.video-text-block .edit-form-buttons button{
    text-shadow: 0px 1px 2px black;
    color:white;
}

.edit-button{
    font-size: 18px;
    cursor: pointer;
}

.edit-button:hover{
    color: #42fff3;
}

.video-text-block .show-edit-form .edit-button{
    float: right;
    height: 15px;
    font-size: 18px;
    cursor: pointer;
}

.video-text-block .show-edit-form:hover{
    color: #42fff3;
}

.edit-form-buttons button.save-button{
}

.edit-form-buttons button.save-button:hover{
    color: #21ff00;
}

.edit-form-buttons button.cancel-button{
}

.edit-form-buttons button.cancel-button:hover{
    color: #ff0c18;
}

.infoblock .image-block div.img{
    width: 100%;
    height: 300px;
    border-radius: 0px;
    transition: all 1000ms;
    background-size: 350% !important;
}

.infoblock .image-block div.img:hover{
    background-size: 130% !important;
    border-radius: 33px;
}

.infoblock{
    margin: 20px 0 20px 0;
    padding:0;
}

.infoblock .text-block{
    padding: 40px 80px;
    font-size: 26px;
    position: relative;
    height: 300px;
}

.infoblock .text-block .border{
    opacity:0;
    transition: all 300ms;
}

.infoblock .text-block .border-left{
    position: absolute;
    width: 35px;
    height: 35px;
    border-left: 7px solid;
    border-top: 7px solid;
    top: 0;
    left: 1%;
}

.infoblock .text-block .border-right{
    position: absolute;
    width: 35px;
    height: 35px;
    border-right: 7px solid;
    border-bottom: 7px solid;
    top: 89%;
    left: 93%;
}

.infoblock .text-block:hover .border{
    opacity:1;
}

.infoblock .text-block:hover .border-left{
    top: 7%;
    left: 6%;
}

.infoblock .text-block:hover .border-right{
    top: 82%;
    left: 86%;
}

.infoblock2.image-right .button{
    font-size: 20px;
    color:white;
}

.infoblock2 .button{
    margin-left:15px;
}

.infoblock2.image-left .button{
    font-size: 20px;
    color:black;
}

.infoblocks-container{
    padding:0;
}

.infoblock .divider{
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.34);
    height: 300px;
}


.infoblock textarea{
    position: absolute;
    top: 11%;
    left: 9%;
    width: 79%;
    height: 79%;
    resize: none;
    outline: none;
}

.infoblock .edit-form-buttons{
    position: absolute;
    left: 9%;
    top:90%
}

.infoblock .show-edit-form{
    position: absolute;
    left: 12%;
    top: 91%;
}

.delete-button{
    font-size: 16px;
    cursor:pointer;
}

.delete-button:hover{
    color: #ff5858;
}

.infoblock .edit-button{
    font-size: 22px;
    margin-right: 15px;
}

.infoblock .delete-button{
    font-size: 24px;
}

.infoblock .image-block{
    position:relative;
}

.infoblock .upload-photo-block,
.infoblock2 .upload-photo-block,
.footer-banner-container .upload-photo-block{
    position: absolute;
    top: 35%;
    margin-left: 50%;
    left: -119px;
}

.infoblock .upload-photo-text,
.infoblock2 .upload-photo-text,
.footer-banner-container .upload-photo-text{
    text-align: center;
    font-size: 20px;
    padding: 5px 0;
}

.infoblock .upload-photo-block.active .upload-photo-text,
.infoblock2 .upload-photo-block.active .upload-photo-text,
.footer-banner-container .upload-photo-block.active .upload-photo-text{
    color:white;
    text-shadow: 3px 1px 1px #000000;
}

.infoblock .upload-photo-block.active input,
.infoblock2 .upload-photo-block.active input,
.footer-banner-container .upload-photo-block.active input{
    color: #68fdff;
}

.infoblock form .landing-button {
    background: white;
    float: left;
    margin-right: 10px;
    width: 100px;
}

.create-form-buttons{
    margin: auto;
    margin-top: 0;
    position: absolute;
    background: white;
    left: 8%;
    top: 91%;
}

.landing-button{
    border: 2px solid;
    padding: 0px 10px;
    height: 30px;
    font-size: 16px;
    color: black;
    line-height: 25px;
    cursor: pointer;
    display: block;
    width:200px;
    text-align: center;
}

.landing-button:hover{
    background: rgba(0, 255, 196, 0.29) !important;
}

.infoblock .landing-button{
    margin:auto;
}

.infoblock form .landing-button.cancel-button{

}

.infoblock .landing-button.cancel-button:hover{
    background: rgba(255, 184, 191, 1) !important;
}

.infoblock2{
    padding: 0;
}

.infoblock2.image-right{
    background: #141414;
}

.infoblock2 .text-block{
    padding: 60px 80px;
    font-size: 18px;
    max-height: 400px;
    z-index: 10;
    position:absolute;
}

.infoblock2.image-right .text-block{
    color:white;
}

.infoblock2.image-left .text-block{
    color:black;
}

.infoblock2.image-right .triangle{
    width: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid #141414;
    position: absolute;
    margin-top: 200px;
    top: -15px;
}

.infoblock2.image-left .triangle{
    width: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 20px solid white;
    position: absolute;
    margin-top: 200px;
    top: -15px;
    margin-left: 100%;
    left: -20px;
}

.infoblock2.image-right .border-left{
    position: absolute;
    width: 35px;
    height: 35px;
    border-left: 7px solid;
    border-bottom: 7px solid;
    border-color: white;
    margin-top: 400px;
    top: -35px;
    left: 0;
    opacity:0;
    transition:all 300ms;
}

.infoblock2.image-right:hover .border-left{
    top: -50px;
    left: 4%;
    opacity:1;
}

.infoblock2.image-right .border-right{
    position: absolute;
    width: 35px;
    height: 35px;
    border-right: 7px solid;
    border-top: 7px solid;
    border-color: white;
    top: 0;
    margin-left: 100%;
    left: -35px;
    opacity:0;
    transition:all 300ms;
}

.infoblock2.image-right:hover .border-right{
    top:15px;
    left:-50px;
    opacity:1;
}

.infoblock2.image-left .border-left{
    position: absolute;
    width: 35px;
    height: 35px;
    border-left: 7px solid;
    border-bottom: 7px solid;
    border-color: white;
    margin-top: 400px;
    top: -35px;
    left: 0;
    opacity:0;
    transition:all 300ms;
}

.infoblock2.image-left:hover .border-left{
    top: -50px;
    left: 4%;
    opacity:1;
}

.infoblock2.image-left .border-right{
    position: absolute;
    width: 35px;
    height: 35px;
    border-right: 7px solid;
    border-top: 7px solid;
    border-color: white;
    top: 0;
    margin-left: 100%;
    left: -35px;
    opacity:0;
    transition:all 300ms;
}

.infoblock2.image-left:hover .border-right{
    top:15px;
    left:-50px;
    opacity:1;
}

.infoblock2 .text-container{
    position:relative;
    padding:0;
    height: 400px;
    overflow: hidden;
}

.infoblock2 .text-container .number{
    position: absolute;
    opacity: 0.1;
    font-family: 'Poster Bodoni Italic','Helvetica Neue',Arial,Helvetica,sans-serif;
    font-style: italic;
    font-size: 17em;
    z-index: 1;
    margin-left: 50%;
    font-weight: bold;
    top: 41%;
    left: -140px;
    cursor: default;
}

.infoblock2.image-right .number{
    color: #f5f5f5;
}

.infoblock2.image-left .number{
    color: #3d3d3d;
}

.infoblocks2-container{
    padding:0;
    margin-top:20px;
}

.infoblock2 .img{
    height: 400px;
    background-size: 170% !important;
}

.infoblock2 .image-block{
    padding:0;
    position: relative;
}

.infoblock2 .buttons-block{
    position:absolute;
    z-index: 100;
    left: 80%;
    top: 30px;
}

.infoblock2 .edit-form-buttons{
    position:absolute;
    z-index: 100;
    left: 80%;
    top: 30px;
    font-size: 20px;
}

.infoblock2.image-right .edit-form-buttons button{
    color:white;
}

.infoblock2.image-left .edit-form-buttons button{
    color:black;
}

.infoblock2 .buttons-block .edit-button:hover{
    color: #42fff3;
}

.infoblock2 .buttons-block .delete-button:hover{
    color: #ff5858;
}

.infoblock2 .edit-form-buttons .cancel-button:hover{
    color: #ff0c18;
}

.infoblock2 .edit-form-buttons .save-button:hover{
    color: #21ff00;
}

.infoblock2 .edit-form-buttons{
    position:absolute;
    z-index: 100;
}

.create-new-infoblock2-container .create-button-block .landing-button{
    margin:20px auto;
}

.infoblock2 textarea{
    width: 82%;
    height: 310px;
    margin: 60px;
    position: absolute;
    z-index: 100;
    padding: 20px;
    font-size: 16px;
    resize:none;
}

.infoblock2.image-right .upload-photo-text{
    color:white;
}

.infoblock2 .create-form-buttons {
    top: 25px;
    left: 62%;
    background: transparent;
}

.infoblock2 .create-form-buttons input{
    background: white;
    width:100px;
    outline:none;
    float:left;
    margin-right: 10px;
}

.infoblock2 .create-form-buttons input:hover{
    background: rgba(177, 255, 248, 1) !important;
}

.footer-banner-container{
    position: relative;
    padding: 0;
    height: 600px;
}

.footer-banner-container .footer-banner{
    position: absolute;
    top: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: 150% !important;
}

.footer-banner-container .footer-banner-text{
    position: absolute;
    z-index: 10;
    color: white;
    text-shadow: 3px 1px 1px black;
    font-size: 24px;
    padding: 0 10%;
    text-align: center;
    top: 55%;
}

.footer-banner-container .buttons-block{
    position: absolute;
    z-index: 10;
    color: white;
    top: 50%;
    margin-left: 50%;
    left: 37%;
}

.footer-banner-container .buttons-block .button{
    font-size: 22px;
}

.footer-banner.withoutImage{
    border:2px solid;
}

.footer-banner-container textarea{
    position: absolute;
    top: 55%;
    margin: 0 10%;
    width: 80%;
    min-height: 125px;
    z-index: 20;
    font-size: 28px;
    padding: 10px;
    resize: none;
}

.footer-banner-container .edit-form-buttons{
    position: absolute;
    top: 49%;
    left: 84%;
    font-size: 22px;
}

.footer-banner-container .withImage .edit-form-buttons{
    color:white;
    text-shadow: 3px 1px 1px black;
}

.sign-up-container{
    height: 250px;
    position: relative;
}

.sign-up-container .sign-up-background-text{
    position: absolute;
    opacity: 0.1;
    font-family: 'Poster Bodoni Italic','Helvetica Neue',Arial,Helvetica,sans-serif;
    font-style: italic;
    font-size: 14em;
    white-space: nowrap;
    z-index: -1;
    margin-left: 50%;
    font-weight: bold;
    top: -35%;
    left: -355px;
    cursor: default;
    transform: rotateZ(-5deg);
}

.sign-up-text{
    color: #b59b4a;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
}

.sign-up-form{
    width: 350px;
    margin: 5px auto;
}

.sign-up-form input.field{
    width: 230px;
    margin: 10px 60px;
    height: 35px;
    padding: 5px 10px;
    font-size: 18px;
    color: #b59b4a;
    text-align: center;
    border-color:black;
}

.sign-up-form input.submit{
    margin: auto;
    background: white;
}

.sign-up-form input.submit:hover{
    background: black !important;
    color:white !important;
    border-color:black !important;
}

.footer-container{
    position: relative;
    background: url(/public/media/landing/map-partners.jpg) no-repeat center;
    border-top: 1px solid grey;
    height: 450px;
    background-size: 130%;
}

.footer-container .information-block .title{
    color: #b59b4a;
    font-size: 21px;
    padding: 10px;
    padding-left:0;
}

.footer-container .information-block{
    margin-top: 10px;
    position: relative;
    height: 300px;
    overflow: hidden;
}

.footer-container .information-block .text{
    position: relative;
}

.footer-container .information-block .text pre{
    color:white;
}

.footer-container .contacts{
    position:relative;
    height: 100%;
}

.footer-container .office{
    position:relative;
    height: 100%;
}

.footer-container .buttons-block{
    color: white;
    margin-top: 10px;
    margin-left: 10%;
}

.footer-container textarea{
    position: absolute;
    top: 45px;
    width: 100%;
    height: 220px;
    resize: none;
}

.footer-container .edit-form-buttons{
    color: white;
    font-size: 18px;
    position: absolute;
    top: 90%;
}

.footer-container .copy-right{
    margin-top: 90px;
    color: grey;
    font-size: 20px;
}

/*media*/

@media (min-width: 1550px){
    .infoblock .text-block:hover .border-right {
        left: 87%;
    }

    .infoblock .text-block {
        padding: 40px 5%;
        font-size: 28px;
    }

    .infoblock textarea {
        left: 8%;
        width: 82%;
    }
}

@media (max-width: 1290px){
    .infoblock .text-block {
        padding: 30px 50px;
        font-size: 24px;
        position: relative;
        height: 300px;
    }

    .infoblock textarea {
        position: absolute;
        top: 11%;
        left: 8%;
        width: 82%;
        height: 79%;
        resize: none;
        outline: none;
    }
}

@media (max-width: 1180px){
    .infoblock2 .text-block {
        font-size: 16px;
    }
}


@media (max-width: 986px) {
    .video-banner{
        display:none;
    }

    .infoblock .text-block {
        padding: 20px 33px;
        font-size: 22px;
        position: relative;
        height: 300px;
    }

    .infoblock .text-block:hover .border-left {
        top: 5%;
        left: 4%;
    }

    .infoblock textarea {
        width: 84%;
        left: 7%;
        top: 9%;
    }

    .infoblock2 .img {
        background-size:250% !important;
    }

    .infoblock2 .text-block {
        padding: 50px 50px;
        font-size: 15px;
    }

    .infoblock2 textarea {
        width: 85%;
        top: -2%;
        left: -3%;
        height: 335px;
        font-size: 15px;
    }

    .infoblock2 .edit-form-buttons {
        top: 20px;
    }

    .infoblock2 .buttons-block {
        top: 20px;
    }

    .infoblock2 .create-form-buttons {
        top: 15px;
    }

    .footer-container{
        background-size: 200%;
    }

}

@media (max-width: 768px) {
    .infoblock .text-block {
        padding: 45px 55px;
        font-size: 22px;
        position: relative;
        height: auto;
    }

    .infoblock2 .edit-form-buttons {
        top: 85px;
    }

    .infoblock2 .buttons-block {
        top: 85px;
    }

    .infoblock2 .create-form-buttons {
        top: 85px;
    }

    .infoblock2 textarea {
        width: 83%;
        top: 15%;
        left: 0%;
        height: 240px;
        font-size: 17px;
    }

    .infoblock2 .text-block {
        padding: 120px 60px 20px 60px;
        font-size: 17px;
    }

    .infoblock2 .text-container .number {
        top: -25%;
    }

    .infoblock2.image-right .triangle {
        width: 0;
        border-left: 15px solid transparent;
        border-top: 20px solid #141414;
        border-right: 15px solid transparent;
        position: absolute;
        margin-top: 0;
        top: 0;
        margin-left: 50%;
        left: -10px;
    }

    .infoblock {
        margin: 20px 0 0px 0;
        padding: 0;
    }

    .infoblock textarea {
        width: 83%;
        height: 155px;
        left: 6%;
        top: 15%;
    }

    .infoblock.create-new-infoblock-container .text-block {
        height: 215px;
    }

    .footer-banner-container .footer-banner-text {
        font-size: 20px;
        top: 40%;
    }

    .footer-banner-container .footer-banner {
        background-size: 250% !important;
    }

    .footer-container{
        background-size: 350%;
    }

    .footer-container .information-block{
        height: 370px;
    }

    .footer-container .copy-right {
        margin-top: 20px;
    }

    .footer-container textarea {
        width: 95%;
        height: 275px;
    }
}


@media(max-width: 580px){
    .video-text-block{
        display:none;
    }
}