<div main-banner-size class="video-banner">
    <video autoplay="" muted="" preload="" loop="" poster="http://media.whitespacers.com/lsproductions/normal-res-short/homepage-video.jpg">
        <source src="http://media.whitespacers.com/lsproductions/normal-res-short/homepage-video.mp4" type="video/mp4">
        <source src="http://media.whitespacers.com/lsproductions/normal-res-short/homepage-video.webm" type="video/webm">
        <source src="http://media.whitespacers.com/lsproductions/normal-res-short/homepage-video.ogg" type="video/ogg">
    </video>
    <div class="video-text-block container-fluid col-md-4 col-sm-6 col-xs-10 col-lg-4">
        <div class="video-text" ng-if="user">
                {{ landing.data[0].header_video }}
        </div>

        <div ng-if="admin">
            <div class="video-text">
                <form editable-form name="editVideoTextForm">
                    <div
                         editable-textarea="landing.data[0].header_video"
                         onaftersave="editLanding()"
                         e-name="videoText"
                         e-form="editVideoTextForm"
                         e-required
                         e-maxlength="256"
                         class="text">
                        {{ landing.data[0].header_video }}
                    </div>

                    <div class="edit-form-buttons" ng-show="editVideoTextForm.$visible">
                        <button type="submit" class="rg-transition save-button" ng-disabled="editVideoTextForm.$waiting">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button type="button" class="rg-transition cancel-button"
                                ng-disabled="editVideoTextForm.$waiting" ng-click="editVideoTextForm.$cancel()">
                            <span class="glyphicon glyphicon-off"></span>
                        </button>
                    </div>

                </form>

                <div ng-hide="editVideoTextForm.$visible" class="buttons-block show-edit-form">
                    <div ng-click="editVideoTextForm.$show()"
                         class="button edit-button rg-transition">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-down-block">
        <div class="left"></div>
        <div class="triangle"></div>
        <div class="right"></div>
    </div>
</div>

<div class="infoblocks-container container-fluid">
    <div class="infoblock col-md-12 col-lg-12 col-sm-12 col-xs-12" ng-repeat="infoBlock in landing['info1']">
        <div ng-if="user">
            <div class="image-block col-md-4 col-lg-4 col-sm-5 col-xs-12 col-md-offset-1 col-lg-offset-1">
                <div ng-class="{'ng-hide': infoblock1Img[$index]}" class="img"
                     style='background: url("/public/media/landing/infoblock/{{ photoPath }}/{{ infoBlock.info_video }}") no-repeat 50% 60%'>
                </div>
                <div ng-show="infoblock1Img[$index]" class="img ng-hide"
                         style='background: url("{{ infoblock1Img[$index] }}") no-repeat 50% 60%'>
                </div>
            </div>
            <div class="divider col-md-1 col-lg-1 col-sm-1 col-xs-0"></div>
            <div class="text-block col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <div class="border border-left"></div>
                <div class="border border-right"></div>
                    {{ infoBlock.info_text }}
            </div>
        </div>

        <div ng-if="admin">

            <div class="image-block col-md-4 col-lg-4 col-sm-5 col-xs-12 col-md-offset-1 col-lg-offset-1">
                <div ng-class="{'ng-hide': editInfoblockForm.$visible || infoblock1Img[$index]}" class="img"
                     style='background: url("/public/media/landing/infoblock/{{ photoPath }}/{{ infoBlock.info_video }}") no-repeat 50% 60%'>
                </div>
                <div ng-show="infoblock1Img[$index] && !editInfoblockForm.$visible" class="img ng-hide"
                         style='background: url("{{ infoblock1Img[$index] }}") no-repeat 50% 60%'>
                </div>
                <div ng-show="editInfoblockForm.$visible">
                    <div ng-class="{'active': infoblock1Img[$index]}" class="upload-photo-block">
                        <div class="upload-photo-text">Upload a new photo</div>
                        <input type="file" file-model1="{{$index}}"  data-info-id="{{ infoBlock.id }}">
                    </div>
                    <div class="img"
                         style='background: url("{{ infoblock1Img[$index] }}") no-repeat 50% 60%'>
                    </div>
                </div>
            </div>

            <div class="divider col-md-1 col-lg-1 col-sm-1 col-xs-0"></div>

            <div class="text-block col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <div class="border border-left"></div>
                <div class="border border-right"></div>

                <form editable-form name="editInfoblockForm">
                    <div
                            editable-textarea="infoBlock.info_text"
                            onaftersave="editInfoblock($data, 1, infoBlock.id, $index)"
                            e-name="infoText"
                            e-form="editInfoblockForm"
                            e-required
                            e-maxlength="256"
                            class="text">
                        {{ infoBlock.info_text }}
                    </div>

                    <div class="edit-form-buttons" ng-show="editInfoblockForm.$visible">
                        <button type="submit" class="rg-transition save-button" ng-disabled="editInfoblockForm.$waiting">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button type="button" class="rg-transition cancel-button"
                                ng-disabled="editInfoblockForm.$waiting" ng-click="editInfoblockForm.$cancel()">
                            <span class="glyphicon glyphicon-off"></span>
                        </button>
                    </div>

                </form>

                <div ng-hide="editInfoblockForm.$visible" class="buttons-block show-edit-form">
                    <div ng-click="editInfoblockForm.$show()"
                         class="button edit-button rg-transition pull-left">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </div>
                    <div ng-click="deleteInfoblock(1,infoBlock.id)"
                         class="button delete-button rg-transition pull-left">
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="admin" class="create-new-infoblock-container infoblock col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div ng-hide="creatingInfoblock" class="create-button-block">
            <div ng-click="creatingModeSwitcher()" class="rg-transition landing-button create-button">
                Create a new info block.
            </div>
        </div>

        <div ng-show="creatingInfoblock" class="ng-hide creating-form-block">
            <div class="image-block col-md-4 col-lg-4 col-sm-5 col-xs-12 col-md-offset-1 col-lg-offset-1">
                <div ng-class="{'active': infoblock1Img['new']}" class="upload-photo-block">
                    <div class="upload-photo-text">Upload a new photo</div>
                    <input type="file" file-model1="new"  data-info-id="new">
                </div>
                <div class="img"
                     style='background: url({{ infoblock1Img["new"] }}) no-repeat 50% 60%'>
                </div>
            </div>
            <div class="divider col-md-1 col-lg-1 col-sm-1 col-xs-0"></div>
            <div class="text-block col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <div class="border border-left"></div>
                <div class="border border-right"></div>

                <form name="createInfoblockForm" ng-submit="createInfoblock(newInfoblockText, 1)" novalidate>
                    <textarea name="newText" ng-model="newInfoblockText" maxlength="256"></textarea>
                    <div class="create-form-buttons">
                        <input type="submit" value="Create" class="landing-button rg-transition">
                        <input type="button" value="Cancel" ng-click="creatingModeSwitcher()"
                               class="landing-button cancel-button rg-transition">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="infoblocks2-container container-fluid">
    <div ng-repeat="infoBlock2 in landing['info2']">
        <div ng-if="user">
            <div class="image-left infoblock2 col-md-12 col-lg-12 col-sm-12 col-xs-12" ng-if="($index % 2 == 1) && (windowWidth > 768)">
                <div class="image-block col-md-5 col-lg-5 col-sm-5 col-xs-12">
                    <div class="border border-left"></div>
                    <div class="border border-right"></div>
                    <div class="triangle"></div>
                    <div class="img"
                         style='background: url("/public/media/landing/infoblock2/{{ photoPath }}/{{ infoBlock2.info_video }}") no-repeat center'>
                    </div>
                </div>

                <div class="text-container col-md-7 col-lg-7 col-sm-7 col-xs-12">
                    <div class="number">0{{ $index + 1 }}</div>
                    <div class="text-block">{{ infoBlock2.info_text }}</div>
                </div>
            </div>
            <div class="image-right infoblock2  col-md-12 col-lg-12 col-sm-12 col-xs-12" ng-if="($index % 2 != 1) || (windowWidth < 768)">

                <div class="text-container col-md-7 col-lg-7 col-sm-7 col-xs-12">
                    <div class="number">0{{ $index + 1 }}</div>
                    <div class="text-block">
                        {{ infoBlock2.info_text }}
                    </div>
                </div>

                <div class="image-block col-md-5 col-lg-5 col-sm-5 col-xs-12">
                    <div class="border border-left"></div>
                    <div class="border border-right"></div>
                    <div class="triangle"></div>
                    <div class="img"
                         style='background: url("/public/media/landing/infoblock2/{{ photoPath }}/{{ infoBlock2.info_video }}") no-repeat center'>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="admin">
            <div class="image-left infoblock2 col-md-12 col-lg-12 col-sm-12 col-xs-12" ng-if="($index % 2 == 1) && (windowWidth > 768)">
                <div class="image-block col-md-5 col-lg-5 col-sm-5 col-xs-12">
                    <div class="border border-left"></div>
                    <div class="border border-right"></div>
                    <div class="triangle"></div>
                    <div ng-hide="editInfoblock2Form.$visible || infoblock2Img[$index]">
                        <div class="img"
                             style='background: url("/public/media/landing/infoblock2/{{ photoPath }}/{{ infoBlock2.info_video }}") no-repeat center'>
                        </div>
                    </div>
                    <div class="ng-hide" ng-show="infoblock2Img[$index] && !editInfoblock2Form.$visible">
                        <div class="img"
                             style='background: url("{{ infoblock2Img[$index] }}") no-repeat center'>
                        </div>
                    </div>
                    <div ng-show="editInfoblock2Form.$visible">
                        <div ng-class="{'active': infoblock2Img[$index]}" class="upload-photo-block">
                            <div class="upload-photo-text">Upload a new photo</div>
                            <input type="file" file-model2="{{$index}}"  data-info-id="{{ infoBlock2.id }}">
                        </div>
                        <div class="img"
                             style='background: url("{{ infoblock2Img[$index] }}") no-repeat center'>
                        </div>
                    </div>
                </div>

                <div class="text-container col-md-7 col-lg-7 col-sm-7 col-xs-12">
                    <div class="number">0{{ $index + 1 }}</div>
                    <form editable-form name="editInfoblock2Form">
                        <div
                                editable-textarea="infoBlock2.info_text"
                                onaftersave="editInfoblock($data, 2, infoBlock2.id, $index)"
                                e-name="infoText"
                                e-form="editInfoblock2Form"
                                e-required
                                e-maxlength="800"
                                class="text-block">
                            {{ infoBlock2.info_text }}
                        </div>

                        <div class="edit-form-buttons" ng-show="editInfoblock2Form.$visible">
                            <button type="submit" class="rg-transition save-button" ng-disabled="editInfoblock2Form.$waiting">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button type="button" class="rg-transition cancel-button"
                                    ng-disabled="editInfoblock2Form.$waiting" ng-click="editInfoblock2Form.$cancel()">
                                <span class="glyphicon glyphicon-off"></span>
                            </button>
                        </div>

                    </form>

                    <div ng-hide="editInfoblock2Form.$visible" class="buttons-block show-edit-form">
                        <div ng-click="editInfoblock2Form.$show()"
                             class="button edit-button rg-transition pull-left">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </div>
                        <div ng-click="deleteInfoblock(2,infoBlock2.id)"
                             class="button delete-button rg-transition pull-left">
                            <span class="glyphicon glyphicon-remove"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="image-right infoblock2  col-md-12 col-lg-12 col-sm-12 col-xs-12" ng-if="($index % 2 != 1) || (windowWidth < 768)">

                <div class="text-container col-md-7 col-lg-7 col-sm-7 col-xs-12">
                    <div class="number">0{{ $index + 1 }}</div>
                    <form editable-form name="editInfoblock2Form">
                        <div
                                editable-textarea="infoBlock2.info_text"
                                onaftersave="editInfoblock($data, 2, infoBlock2.id, $index)"
                                e-name="infoText"
                                e-form="editInfoblock2Form"
                                e-required
                                e-maxlength="800"
                                class="text-block">
                            {{ infoBlock2.info_text }}
                        </div>

                        <div class="edit-form-buttons" ng-show="editInfoblock2Form.$visible">
                            <button type="submit" class="rg-transition save-button" ng-disabled="editInfoblock2Form.$waiting">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button type="button" class="rg-transition cancel-button"
                                    ng-disabled="editInfoblock2Form.$waiting" ng-click="editInfoblock2Form.$cancel()">
                                <span class="glyphicon glyphicon-off"></span>
                            </button>
                        </div>

                    </form>

                    <div ng-hide="editInfoblock2Form.$visible" class="buttons-block show-edit-form">
                        <div ng-click="editInfoblock2Form.$show()"
                             class="button edit-button rg-transition pull-left">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </div>
                        <div ng-click="deleteInfoblock(2,infoBlock2.id)"
                             class="button delete-button rg-transition pull-left">
                            <span class="glyphicon glyphicon-remove"></span>
                        </div>
                    </div>
                </div>

                <div class="image-block col-md-5 col-lg-5 col-sm-5 col-xs-12">
                    <div class="border border-left"></div>
                    <div class="border border-right"></div>
                    <div class="triangle"></div>
                    <div ng-hide="editInfoblock2Form.$visible || infoblock2Img[$index]">
                        <div class="img"
                             style='background: url("/public/media/landing/infoblock2/{{ photoPath }}/{{ infoBlock2.info_video }}") no-repeat center'>
                        </div>
                    </div>
                    <div class="ng-hide" ng-show="infoblock2Img[$index] && !editInfoblock2Form.$visible">
                        <div class="img"
                             style='background: url("{{ infoblock2Img[$index] }}") no-repeat center'>
                        </div>
                    </div>
                    <div ng-show="editInfoblock2Form.$visible">
                        <div ng-class="{'active': infoblock2Img[$index]}" class="upload-photo-block">
                            <div class="upload-photo-text">Upload a new photo</div>
                            <input type="file" file-model2="{{$index}}"  data-info-id="{{ infoBlock2.id }}">
                        </div>
                        <div class="img"
                             style='background: url("{{ infoblock2Img[$index] }}") no-repeat center'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="admin" class="create-new-infoblock2-container">
        <div ng-hide="creatingInfoblock2" class="create-button-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div ng-click="creatingModeSwitcher2()" class="rg-transition landing-button create-button">
                Create a new info block.
            </div>
        </div>

        <div ng-if="(landing.info2.length % 2 == 1) && (windowWidth > 768)"
             ng-show="creatingInfoblock2" class="ng-hide creating-form-block infoblock2 image-left col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="image-block col-md-5 col-lg-5 col-sm-5 col-xs-12">
                <div class="border border-left"></div>
                <div class="border border-right"></div>
                <div class="triangle"></div>
                <div ng-class="{'active': infoblock2Img['new']}" class="upload-photo-block">
                    <div class="upload-photo-text">Upload a new photo</div>
                    <input type="file" file-model2="new"  data-info-id="new">
                </div>
                <div class="img"
                     style='background: url({{ infoblock2Img["new"] }}) no-repeat center'>
                </div>
            </div>
            <div class="text-container col-md-7 col-lg-7 col-sm-7 col-xs-12">
                <div class="number">0{{ landing.info2.length + 1 }}</div>
                <form name="createInfoblock2Form" ng-submit="createInfoblock(newInfoblock2Text, 2)" novalidate>
                    <textarea name="newText" ng-model="newInfoblock2Text" maxlength="800"></textarea>
                    <div class="create-form-buttons">
                        <input type="submit" value="Create" class="landing-button rg-transition">
                        <input type="button" value="Cancel" ng-click="creatingModeSwitcher2()"
                               class="landing-button cancel-button rg-transition">
                    </div>
                </form>
            </div>
        </div>

        <div ng-if="(landing.info2.length % 2 != 1) || (windowWidth < 768)"
             ng-show="creatingInfoblock2" class="ng-hide creating-form-block infoblock2 image-right col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="text-container col-md-7 col-lg-7 col-sm-7 col-xs-12">
                <div class="number">0{{ landing.info2.length + 1 }}</div>
                <form name="createInfoblock2Form" ng-submit="createInfoblock(newInfoblock2Text, 2)" novalidate>
                    <textarea name="newText" ng-model="newInfoblock2Text" maxlength="800"></textarea>
                    <div class="create-form-buttons">
                        <input type="submit" value="Create" class="landing-button rg-transition">
                        <input type="button" value="Cancel" ng-click="creatingModeSwitcher2()"
                               class="landing-button cancel-button rg-transition">
                    </div>
                </form>
            </div>

            <div class="image-block col-md-5 col-lg-5 col-sm-5 col-xs-12">
                <div class="border border-left"></div>
                <div class="border border-right"></div>
                <div class="triangle"></div>
                <div ng-class="{'active': infoblock2Img['new']}" class="upload-photo-block">
                    <div class="upload-photo-text">Upload a new photo</div>
                    <input type="file" file-model2="new"  data-info-id="new">
                </div>
                <div class="img"
                     style='background: url({{ infoblock2Img["new"] }}) no-repeat center'>
                </div>
            </div>
        </div>
    </div>

</div>

<div main-banner-size class="footer-banner-container col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <div ng-if="user">
        <div class="footer-banner"
             style='background: url("/public/media/landing/{{ photoPath }}/{{ landing.data[0].footer_image }}") no-repeat center'>
        </div>
        <div class="footer-banner-text">
            {{ landing.data[0].footer_text }}
        </div>
    </div>

    <div ng-if="admin">

        <div ng-hide="editFooterBannerForm.$visible" class="footer-banner"
             style='background: url("/public/media/landing/{{ photoPath }}/{{ landing.data[0].footer_image }}") no-repeat center'>
        </div>

        <div ng-show="editFooterBannerForm.$visible" ng-class="{'withoutImage': !landingImage}" class="ng-hide footer-banner"
             style='background: url({{ landingImage }}) no-repeat center'>
            <div ng-class="{'active': landingImage}" class="upload-photo-block">
                <div class="upload-photo-text">Upload a new photo</div>
                <input type="file" landing-file>
            </div>
        </div>

        <form ng-class="{'withImage': landingImage}" editable-form name="editFooterBannerForm">
            <div
                    editable-textarea="landing.data[0].footer_text"
                    onaftersave="editLanding(landingFile)"
                    e-name="infoText"
                    e-form="editFooterBannerForm"
                    e-required
                    e-maxlength="255"
                    class="footer-banner-text">
                {{ landing.data[0].footer_text }}
            </div>

            <div class="edit-form-buttons" ng-show="editFooterBannerForm.$visible">
                <button type="submit" class="rg-transition save-button" ng-disabled="editFooterBannerForm.$waiting">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button type="button" class="rg-transition cancel-button"
                        ng-disabled="editFooterBannerForm.$waiting" ng-click="editFooterBannerForm.$cancel()">
                    <span class="glyphicon glyphicon-off"></span>
                </button>
            </div>

        </form>

        <div ng-hide="editFooterBannerForm.$visible" class="buttons-block show-edit-form">
            <div ng-click="editFooterBannerForm.$show()"
                 class="button edit-button rg-transition pull-left">
                <span class="glyphicon glyphicon-pencil"></span>
            </div>
        </div>
    </div>
</div>

<div class="sign-up-container col-md-12 col-lg-12 col-xs-12 col-sm-12">
    <div class="sign-up-background-text">sign up</div>
    <div class="sign-up-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
    <form ng-submit="prevent($event)" class="sign-up-form">
        <input type="text" class="field" placeholder="E-mail address">
        <input type='submit' value="Sign up" class="submit landing-button rg-transition">
    </form>
</div>

<div class="footer-container col-md-12 col-lg-12 col-xs-12 col-sm-12">
    <div class="information-block col-md-12 col-lg-12 col-sm-12 col-xs-12" ng-if="user">
        <div class="contacts col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-5 col-xs-6">
            <div class="title">Contacts</div>
            <div class="text"><pre>{{ landing.data[0].footer_contacts }}</pre></div>
        </div>
        <div class="office col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-5 col-xs-6">
            <div class="title">Office</div>
            <div class="text"><pre>{{ landing.data[0].footer_office }}</pre></div>
        </div>
    </div>
    <div class="information-block col-md-12 col-lg-12 col-sm-12 col-xs-12" ng-if="admin">
        <div class="contacts col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-5 col-xs-6">
            <div class="title">Contacts</div>
            <form editable-form name="editFooterContactsForm">
                <div
                        editable-textarea="landing.data[0].footer_contacts"
                        onaftersave="editLanding()"
                        e-name="infoText"
                        e-form="editFooterContactsForm"
                        e-required
                        e-maxlength="255"
                        class="text">
                    <pre>{{ landing.data[0].footer_contacts }}</pre>
                </div>

                <div class="edit-form-buttons" ng-show="editFooterContactsForm.$visible">
                    <button type="submit" class="rg-transition save-button" ng-disabled="editFooterContactsForm.$waiting">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="rg-transition cancel-button"
                            ng-disabled="editFooterContactsForm.$waiting" ng-click="editFooterContactsForm.$cancel()">
                        <span class="glyphicon glyphicon-off"></span>
                    </button>
                </div>

            </form>

            <div ng-hide="editFooterContactsForm.$visible" class="buttons-block show-edit-form">
                <div ng-click="editFooterContactsForm.$show()"
                     class="button edit-button rg-transition pull-left">
                    <span class="glyphicon glyphicon-pencil"></span>
                </div>
            </div>
        </div>

        <div class="office col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-5 col-xs-6">
            <div class="title">Office</div>
            <form editable-form name="editFooterOfficeForm">
                <div
                        editable-textarea="landing.data[0].footer_office"
                        onaftersave="editLanding()"
                        e-name="infoText"
                        e-form="editFooterOfficeForm"
                        e-required
                        e-maxlength="255"
                        class="text">
                    <pre>{{ landing.data[0].footer_office }}</pre>
                </div>

                <div class="edit-form-buttons" ng-show="editFooterOfficeForm.$visible">
                    <button type="submit" class="rg-transition save-button" ng-disabled="editFooterOfficeForm.$waiting">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="rg-transition cancel-button"
                            ng-disabled="editFooterOfficeForm.$waiting" ng-click="editFooterOfficeForm.$cancel()">
                        <span class="glyphicon glyphicon-off"></span>
                    </button>
                </div>

            </form>

            <div ng-hide="editFooterOfficeForm.$visible" class="buttons-block show-edit-form">
                <div ng-click="editFooterOfficeForm.$show()"
                     class="button edit-button rg-transition pull-left">
                    <span class="glyphicon glyphicon-pencil"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right col-md-12 col-lg-12 col-sm-12 col-xs-12">All rights reserved.</div>
</div>